{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="header" class="main-header">
    <div class="container">

        <!--                <div class="row">-->
        <!--                    <nav class="navbar navbar-default">-->
        <!--                        <div class="navbar-header">-->
        <!--                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">-->
        <!--                                <span class="sr-only">Toggle navigation</span>-->
        <!--                                <span class="icon-bar"></span>-->
        <!--                                <span class="icon-bar"></span>-->
        <!--                                <span class="icon-bar"></span>-->
        <!--                            </button>-->
        <!--                        </div>-->

        <!--                        <div class="collapse navbar-collapse" id="site-nav-bar">-->
        <!--                            <ul class="nav navbar-nav">-->
        <!--                                <li class="active"><a href="index.html">Home</a></li>-->
        <!--                                <li><a href="about.html">About</a></li>-->
        <!--                                <li><a href="shop.html">Shop</a></li>-->
        <!--                                <li><a href="faq.html">FAQ</a></li>-->
        <!--                                <li><a href="contact.html">Contact</a></li>-->
        <!--                            </ul>-->
        <!--                        </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        <!--                    </nav>-->
        <!--                </div>-->
        <!--                <div class="intro row">-->
        <!--                    <div class="overlay"></div>-->
        <!--                    <div class="col-sm-6 col-sm-offset-6">-->
        <!--                        <h2 class="header-quote">Save time and lower</h2>-->
        <!--                        <p>-->
        <!--                            Your exporting costs with the-->
        <!--                        </p>-->
        <!--                        <h1 class="header-title">Robot<br><span class="thin">Factory</span></h1>-->
        <!--                    </div>-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="{% static 'images/header.png' %}" alt="Los Angeles" style="width:100%;">
                    <div class="carousel-caption">
                        <h2 class="header-quote">Save time and lower</h2>
                        <p>
                            Your exporting costs with the
                        </p>
                        <h1 class="header-title">Robot<br><span class="thin">Factory</span></h1>
                    </div>
                </div>

                <div class="item">
                    <img src="{% static 'images/header.png' %}" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                        <h2 class="header-quote">Save time and lower</h2>
                        <p>
                            Your exporting costs with the
                        </p>
                        <h1 class="header-title">Robot<br><span class="thin">Factory</span></h1>
                    </div>
                </div>

                <div class="item">
                    <img src="{% static 'images/header.png' %}" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                        <h2 class="header-quote">Save time and lower</h2>
                        <p>
                            Your exporting costs with the
                        </p>
                        <h1 class="header-title">Robot<br><span class="thin">Factory</span></h1>
                    </div>
                </div>

            </div>
            <!--                </div> &lt;!&ndash; /.intro.row &ndash;&gt;-->
        </div> <!-- /.container -->

</section> <!-- /#header -->

    <!-- Product -->

        <section id="product" class="product">
            <div class="container section-bg">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <h2 class="title">Welcom to our <span>Cate Q Exports</span></h2>
                            <a href="#" class="btn btn-default btn-robot">view all categories</a>
                        </div>
                    </div>
                </div>
                <div class="row">
        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn" href="#carousel-example"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn" href="#carousel-example"
                            data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">


                                <div class="photo">
                                    <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <center>
                                        <a href="#" class="btn btn-default btn-robot">Banana</a>
                                    </center>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="col-item">


                                <div class="photo">
                                    <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <center>
                                        <a href="#" class="btn btn-default btn-robot">Banana</a>
                                    </center>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">


                                <div class="photo">
                                    <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <center>
                                        <a href="#" class="btn btn-default btn-robot">Banana</a>
                                    </center>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">


                                <div class="photo">
                                    <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <center>
                                        <a href="#" class="btn btn-default btn-robot">Banana</a>
                                    </center>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">


                                <div class="photo">
                                    <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <center>
                                        <a href="#" class="btn btn-default btn-robot">Banana</a>
                                    </center>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="col-item">


                                <div class="photo">
                                    <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <center>
                                        <a href="#" class="btn btn-default btn-robot">Banana</a>
                                    </center>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">


                                <div class="photo">
                                    <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <center>
                                        <a href="#" class="btn btn-default btn-robot">Banana</a>
                                    </center>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">


                                <div class="photo">
                                    <img src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <center>
                                        <a href="#" class="btn btn-default btn-robot">Banana</a>
                                    </center>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>


<style>
.col-item
{
    border: 2px solid #2323A1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item:hover .info {
    background-color: rgba(215, 215, 244, 0.5);
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #00990E;
}

.col-item .info .rating
{
    color: #003399;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #FFCCCC;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #CC9999;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
</style>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="classic-title">
                            <div class="stiker">
                                <h3 class="inner-stiker">Why we are best</h3>
                            </div>
                            <h3 class="outer-stiker">We Received best factory award in the 1998</h3>
                            <div class="incline-div"></div>
                        </div>
                    </div>
                    <div class="boxed">
                        <div class="col-sm-4">
                            <h3 class="inner-stiker" style="color:black;"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44"><defs><style>.a,.b{fill:#5ac7ff;}.a{opacity:0.5;}</style></defs><g transform="translate(-415 -1707)"><rect class="a" width="40" height="40" rx="2" transform="translate(419 1711)"/><rect class="b" width="38" height="38" rx="2" transform="translate(415 1707)"/></g></svg>Why we are best</h3>
                            <p class="p-large">
                                Sed lobortis volutpat imperdiet. faci.Fusce nec arcu ac neque tincidunt rutru tristique feugiat purus, id semper nisl tin vitae.Roin lobortis porta mattis. Mauris tincidunurus nec viverra mattis. Nunc convallis massa at eleifend blandit. Donec interdum.
                            </p>
                        </div>
                        <div class="col-sm-4">

                            <h3 class="inner-stiker" style="color:black;"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44"><defs><style>.a,.b{fill:#5ac7ff;}.a{opacity:0.5;}</style></defs><g transform="translate(-415 -1707)"><rect class="a" width="40" height="40" rx="2" transform="translate(419 1711)"/><rect class="b" width="38" height="38" rx="2" transform="translate(415 1707)"/></g></svg>Why we are best</h3>
                            <p>
                                Ead lobortis volutpat imperdiet. Nulla faci.Fusce nec arcu ac neque tincidunt rutrum. Pro tristique feugiat purus, id semper nisl tincidunt vitae.Roin lobortis porta mattis. Mauris tincidunt purus nec viverra mattis. Nunc convallis massa at eleifend blandit. Donec interdum, sem lacinia dignissime varius, nulla eros consectetur mauris. 
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="inner-stiker" style="color:black;"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44"><defs><style>.a,.b{fill:#5ac7ff;}.a{opacity:0.5;}</style></defs><g transform="translate(-415 -1707)"><rect class="a" width="40" height="40" rx="2" transform="translate(419 1711)"/><rect class="b" width="38" height="38" rx="2" transform="translate(415 1707)"/></g></svg>Why we are best</h3>
                            <p>
                                Sed lobortis volutpat imperdiet. Nulla faci.Fusce nec arcu ac neque tincidunt rutrum. Pro tristique feugiat purus, id semper nisl tincidunt vitae.Roin lobortis porta mattis. Mauris tincidunt purus nec viverra mattis. Nunc convallis massa at eleifend blandit. Donec interdum, sem lacinia dignissime varius, nulla eros consectetur mauris. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- History -->
        <section id="history" class="history">
            <div class="container section-bg">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <p>Since 1990</p>
                            <h2 class="title mt0">Discover our works</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="boxed">
                        <div class="col-sm-10 col-sm-offset-1">
                            <p>
                                Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummynibh euismod tincidunt ut laoree Dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummynibh euismod tincidunt ut laoree Dolore magna aliquam erat .
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <img class="img-responsive" src="{% static 'images/history.png'%}" alt="history">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- Partner -->
        <section id="partner" class="partner">
            <div class="container section-bg">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <p>Our famous</p>
                            <h2 class="title mt0">Products</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="boxed">
                       <div class="col-sm-12">
                           <div id="partner-slider" class="owl-carousel">
                                <div class="item">
                                    <img src="{% static 'images/6.png' %}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/7.png' %}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/8.png' %}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/9.png' %}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/6.png' %}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/7.png'%}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/8.png'%}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/9.png' %}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/6.png' %}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/7.png' %}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/8.png' %}" alt="partner">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/9.png' %}" alt="partner">
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
